### 1- Libraries

In [52]:
# Import Libraries

import pandas as pd
import numpy as np
import os

from kaggle.api.kaggle_api_extended import KaggleApi
from config import * 

import zipfile

### 2- API

In [53]:
# Kaggle API

api = KaggleApi()
api.authenticate()

competition = comp
api.competition_download_files(competition, path=path_1)

### 3- Download the Files

In [54]:
# Download the file
zip_file_path = os.path.join(path_1, 'playground-series-s4e1.zip')  # Burada dosya adını doğru şekilde belirtin

# Extract the file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(path_1)

print(f"Zip Files Saved...")

Zip Files Saved...

### 4- Read the Files

In [55]:
# Raw data klasörünün yolu
raw_data_directory = path_1

In [56]:
# Klasörün içindeki dosyaları listeleme
if os.path.exists(path_1) and os.path.isdir(path_1):
    files = os.listdir(path_1)
    print("Files in the Raw Folder:")
    print(" ")
    for file in files:
        print(file)
else:
    print("Belirtilen klasör yok veya bir dizin değil.")

Files in the Raw Folder:

playground-series-s4e1.zip
sample_submission.csv
test.csv
train.csv

In [57]:
# Klasördeki dosyaları listele
files = os.listdir(path_1)

print("Dataframes: ")
print("")

# CSV dosyalarını oku ve değişken olarak kaydet
for csv_file in files:
    if csv_file.endswith('.csv'):
        file_path = os.path.join(path_1, csv_file)
        df = pd.read_csv(file_path)
        
        # Dosya adını kullanarak değişken adını belirle
        var_name = os.path.splitext(csv_file)[0] + '_df'
        
        # DataFrame'i globals() fonksiyonunu kullanarak kaydet
        globals()[var_name] = df

        print(f"{var_name} saved...")

Dataframes:

sample_submission_df saved...
test_df saved...
train_df saved...

### 5- Data Manipulation

In [61]:
# Use train_df as main dataset

df = train_df.copy()

In [62]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0